html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

table {
  width: 100%;
  height: 100vh;
  border-collapse: collapse;
}

td {
  width: 50%;
  vertical-align: middle;
  border: 1px solid black;
}

.left {
  background-color: #c8cf8a;
}

.right {
  background-color: #f7c6b3;
}
